body {
    font-size: 10px;
}

h1 {
    color: purple;
    font-family: Georgia;
    font-size: 5em;
}

li {
    color: orange;
}

h4 {
    color: blue;
}

p {
    font-family: Arial;
    font-size: 2em;
}

span {
    font-size: 2em;
}
